body{
    background-image: url("images/bg5.jpg");
    background-size: cover;
   
    align-items: center;
    
   
}

#itemCards{
    padding: 10%;

}

.calender-column{
    padding: 2% 2%;
}

#heading{
    margin-top: 1.5%;
    font-size: 6rem;
    color: white;
    font-family: 'Merriweather', serif;
    /* font-family: 'Fredoka One', cursive; */
    font-weight: bold;
}

#boxSize{
    border: none;
    height: 500px;
}

#Head{
    font-size: 5rem;
    color: white;
    font-family: 'Merriweather', serif;
    /* font-family: 'Fredoka One', cursive; */
}

.heading2{
    padding-top: 170px;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Roboto Slab', serif,bold 700;
}

img{
    object-fit: cover;
    height: 100%;
}

.copyright{
    font-size: 2.5rem;
    font-family: sans-serif;
    color: white;
}
/* .background{
    background-image: linear-gradient(#e46d45, #) !important;
} */